<form action=/user/register/ method=post name=register>
	<p>Username</p>
	<input type=text name=username autocomplete=Off required>
	<p>email</p>
	<input type=email name=email autocomplete=Off required>
	<p>Mobile</p>
	<input type=tel name=mobile autocomplete=Off required>
	<p>Password</p>
	<input type=password name=password required>
	<p>Confirm Password</p>
	<input type=password name=cpassword required>
	<p></p>
	<input type=submit name=submit value=Register >
</form>
<script>
	jQuery(document).ready(function(){
		$(form.register).submit(function(){
			alert(1);
		});
	});
</script>