RewriteEngine On
RewriteCond %{REQUEST_URI} !/images/.*$ 
RewriteCond %{REQUEST_URI} !/fonts/.*$ 
RewriteCond %{REQUEST_URI} !/stylesheets/.*$ 
RewriteCond %{REQUEST_URI} !/scripts/.*$ 
RewriteCond %{REQUEST_URI} !/favicon\.ico$
RewriteCond %{REQUEST_URI} !/favicon\.png$
RewriteRule ^(.*)$ router.php