        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>Zedek Framework</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">about</li>
                </ol>
            </div>

        </div>
        <!-- /.row -->

        <div class="row">


        </div>
        <!-- /.row -->

        <!-- Service Paragraphs -->

        <div class="row">

            <div class="col-md-8">
                <h2 class="page-header">Zedek Framework</h2> 
                Zefek Framework is a PHP applications development Framework. It is built to be a very light framework and caters for development at very basic levels yet is very powerful.</p>

                <p>Zedek Framework was first developed in 2011 and has progressed since then. In its first version (0.1 to 0.22) the basic idea was laid but had to be improved on in several areas to meet with today's demands while taking the best of what currently exists.</p>

                <p>In version 2.0 Zedek Framework the file structure has been changed. The features in version 2 include: a Model-View-Controller (MVC) structure; Object Oriented; Encourages agile development; Has an Object Relational Model (ORM) built in called ZORM (new to version 2); Has a templating engine accessed from a class called ZView; Templating engines allows some logic in the html view file such as looping through an array (new in version 2.0); URL rewriting allowing for clean urls (without a prefix as previously seen in version 0-0.23). 
                </p>
            </div>

            <div class="col-md-4">
                <h2 class="page-header">Requirements</h2>
                <p>Apache; PHP5.3+; Knowledge of PHP; Knowledge of Object Oriented Programming (OOP); Understanding of Test Driven Development (TDD) in PHP - Simpletest library has been included to take care of web presentation of tests
                </p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Service Tabs -->

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Features </h2>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">Templating Engine</a>
                    </li>
                    <li><a href="#service-two" data-toggle="tab">Object Relational Mapper</a>
                    </li>
                    <li><a href="#service-three" data-toggle="tab">Models</a>
                    </li>
                    <li><a href="#service-four" data-toggle="tab">Themeing</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <i class="fa fa-gear pull-left fa-4x"></i>
                        <p>Zedek framework 2.1 templating has been abstracted from the the controler as in the previous version and is now now in a class ZView in the /core/view.php. Zedek url maps to controller, method and arguments as shown below: http://mywebsite.com/controller/method/arguments. The engines/ folder contains all the mapping directories such that for the example above the class name is used to create a folder in the engines folder: <br><code> /zedek/engines/controller</code></p>
                        <p>This contains a controller.php file which has a class in it named CController which in turn extends the abstract class ZController within the /core/controller.php file. the methods of this class are mapped to the url. Within the controller folder is a view folder which houses browser accessible files: <br><code> /zedek/engines/controller/view/</code></p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <i class="fa fa-gears pull-left fa-4x"></i>
                        <p>Zedek Framework implements a basic ORM (Object Relational Mapper). This can be called from any point by instantiating the ZORM class and this returns a ZORM object. <br> <code>$orm = new ZORM;</code><br>The ZORM object when instantiated may take a PDO object as argument, but where none is given will create a PDO object from the config.json settings and this is returned in the attribute ZORM::$dbo. This object can map to existing tables via the ZORMTable class. </p>
                        
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <i class="fa fa-magic pull-left fa-4x"></i>
                        <p>You would by now have noticed that the engines folder contains folders named after the controller with controller.php within and a view folder housing all the views, but there is no model.php file. This is because in typical MVC models the model files are usually independent of the controller, such that multiple controllers can access a single model. for this reason there is a model folder in /path/to/zedek/models/. Any file entered here with a class definition and within the same namespace will be accessed by all controllers by simply calling on that class. Lets illustrate this.  </p>
                        
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <i class="fa fa-flask pull-left fa-4x"></i>
                        <p>The themes are located in the /zedek/themes folder. The theme may be selected by setting within the config file /zedek/config/config.json. <br><code>{
                            "version": "2.0", 
                            "theme": "new_theme"
                        }</code><br>this would then require that a new theme folder with the name new_theme is created within the themes folder. Templating applies to the theme, thus allowing for place holders within the header and footer files. </p>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

