<!-- 
TEMPLATING HELP
=================
1. for templating keys may be rendered within double curly braces {{key}}
2. simple conditionals {%if [key] == val ? output : alernative output %}
3. for simple iterators as in a single dimensional array {%for item in items : {{item}} %}
4. for db record iterators as multidimensional array {%foreach items as item : {{item.id}} ...  %}

* Important: comment your javascript code in multiline commenting style /* code */ not with // double slashes!
-->

Hello world