<div class="wrapper ad-pad clearfix">

	<!-- Start Main Column  -->
	<div class="col-3-4">
		<h1><span>404</span> Page not found</h1>
		<p class="lead">Sorry, your lost my friend, the page your looking for does not exist anymore.<br>Take your luck at searching for a new&nbsp;one. </p>   	                
		<form>
			<input type="text" id="name" name="name" placeholder="Search">
			<input name="button" class="btn-2" type="submit" value="Search" id="send">
		</form>
	</div>
	
	
	
	<!-- Start Main Sidebar  -->
	<aside class="col-1-4 last">
		<div class="widget">
		    <h3>Quicklinks</h3>
		    <ul class="widget-list list-1">
		    	<li><a href="index.html">Home Page</a></li>
		    	<li><a href="sitemap.html">Sitemap</a></li>
		    	<li><a href="contact.html">Contact</a></li>
		    </ul>
	    </div>	
	</aside>
</div>