/*Main zedek stylesheet*/

@font-face {
	font-family: "Segoe";
	src: url("/public/fonts/segoe.ttf");
}

* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe
}

body {
	font-size: 16px;
	text-align: left;
	background: url(/public/images/banner.jpg) repeat-x #508D52;
}

.canvas {
	margin: 0px auto;
	width: 1024px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

.data thead th, 
.data thead td {
	/*data grid*/
} 

.data tr.odd td {}

.data tr.even td {}

a {
	font-size: inherit;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

h1 {font-size: 4.1em;}

h2 {font-size: 2.04em;}

.main {
	padding: 4px;
}

header.main {
	min-height: 170px;
	border-bottom: solid 4px #eee;
}

header p {
	font-size: 0.95em;
	color: #111;
	text-shadow: 1px 1px 1px #aaa;
}

nav.main {
	background: #aaa;
	height: 64px;
	box-shadow: inset 0px 32px 64px #777;
	border-bottom: solid 4px #eee;
	padding: 0px;
}

nav ul {
	float: left;
}

nav li {
	float: left;
	border-right: solid 1px #555;
	font-size: 1.5em;
	padding: 18px;
	margin: 0px;
	text-shadow: 1px 1px 1px #ccc;
	cursor: pointer;
}

nav li:first-child {
	border-left: solid 1px #555;
}

nav.main div.canvas {
	position: relative;
}
nav.main div.sn {
	position: absolute;
	right: 0px;
	top: -15px;
}

nav.main div.sn img {
	height: 80px;
}

section.main {
	min-height: 360px;
}

footer.main {
	font-size: 0.8em;
	border-top: solid 4px #eee;
	color: #eee;
	background: #222;
	min-height: 128px;
}

@media (min-width: 500px) and (max-width: 700px) {
/*special style for tablet*/
} 

@media (min-width: 500px) and (max-width: 700px) {
/*special style for phones*/
} 