/*Main zedek stylesheet*/

@font-face {
	font-family: "Segoe";
	src: url("/public/fonts/segoe.ttf");
}

* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe
}

body {
	font-size: 16px;
	text-align: left;
	background: #777;
}

.canvas {
	margin: 0px auto;
	width: 1024px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

.data thead th, 
.data thead td {
	/*data grid*/
} 

.data tr.odd td {}

.data tr.even td {}

a {
	font-size: inherit;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 4em;
}

.main {
	padding: 16px;
}

header.main {
	height: 16px;
}

nav.main {}

section.main {}

footer.main {
	background: #777;
	color: white;
}

@media (min-width: 500px) and (max-width: 700px) {
/*special style for tablet*/
} 

@media (min-width: 500px) and (max-width: 700px) {
/*special style for phones*/
} 