/*Main zedek stylesheet*/

@font-face {
	font-family: "Segoe";
	src: url("/public/fonts/segoe.ttf");
}

* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe
}

body {
	font-size: 16px;
	text-align: left;
	background: #777;
}

.canvas {
	margin: 0px auto;
	width: 1024px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

.data thead th, 
.data thead td {
	/*data grid*/
} 

.data tr.odd td {}

.data tr.even td {}

a {
	font-size: inherit;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

h1 {font-size: 4.1em;}

h2 {font-size: 2.04em;}

.main {
	padding: 4px;
}

header.main {
	min-height: 16px;
	border-bottom: solid 1px #333;
}

header p {
	font-size: 0.95em;
	color: #111;
	text-shadow: 1px 1px 1px #aaa;
}

nav.main {}

section.main {
	padding: 4px;
	min-height: 360px;
}

footer.main {
	font-size: 0.8em;
	border-top: solid 1px #333;
	background: #777;
	color: #111;
	text-shadow: 1px 1px 1px #aaa;
}

@media (min-width: 500px) and (max-width: 700px) {
/*special style for tablet*/
} 

@media (min-width: 500px) and (max-width: 700px) {
/*special style for phones*/
} 